/tasks
/node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
# .env.test  <- NO ignorar este
.env.production
.env.example
.env.local.example
.env.development.local.example
.env.test.local.example
.env.production.local.example
dist
.next
.turbo
.pnp.caches
.pnp.loader.mjs
.pnp.loader.cjs
.pnp.loader.js
.pnp.loader.ts
.pnp.loader.tsx
.pnp.loader.jsx
.pnp.loader.json
.pnp.loader.yaml
.pnp.loader.yml